@model ContactManager.Web.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Edit";
    var addressList = Model.Addresses.ToList();
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div id="addresses">
                <h4>Addresses</h4>
                <hr />
                @for (var i = 0; i < addressList.Count; i++)
                {
                    <div class="form-group address-group" id="address-@addressList[i].Id">
                        <input type="hidden" asp-for="@addressList[i].Id" />
                        <label asp-for="@addressList[i].Street" class="control-label">Street</label>
                        <input asp-for="@addressList[i].Street" class="form-control" />
                        <span asp-validation-for="@addressList[i].Street" class="text-danger"></span>

                        <label asp-for="@addressList[i].City" class="control-label">City</label>
                        <input asp-for="@addressList[i].City" class="form-control" />
                        <span asp-validation-for="@addressList[i].City" class="text-danger"></span>

                        <label asp-for="@addressList[i].State" class="control-label">State</label>
                        <input asp-for="@addressList[i].State" class="form-control" />
                        <span asp-validation-for="@addressList[i].State" class="text-danger"></span>

                        <label asp-for="@addressList[i].PostalCode" class="control-label">Postal Code</label>
                        <input asp-for="@addressList[i].PostalCode" class="form-control" />
                        <span asp-validation-for="@addressList[i].PostalCode" class="text-danger"></span>

                        <button type="button" class="btn btn-secondary" onclick="updateAddress(@addressList[i].Id, @i)">Update Address</button>
                        <button type="button" class="btn btn-danger" onclick="deleteAddress(@addressList[i].Id)">Delete Address</button>
                    </div>
                }
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-secondary" onclick="addAddress()">Add Address</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var addressIndex = @addressList.Count;

        function addAddress() {
            var newAddressHtml = `
                                        <div class="form-group address-group" id="address-${addressIndex}">
                                            <input type="hidden" name="Addresses.Index" value="${addressIndex}" />
                                            <label for="Addresses_${addressIndex}__Street" class="control-label">Street</label>
                                            <input id="Addresses_${addressIndex}__Street" name="Addresses[${addressIndex}].Street" class="form-control" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Addresses[${addressIndex}].Street" data-valmsg-replace="true"></span>

                                            <label for="Addresses_${addressIndex}__City" class="control-label">City</label>
                                            <input id="Addresses_${addressIndex}__City" name="Addresses[${addressIndex}].City" class="form-control" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Addresses[${addressIndex}].City" data-valmsg-replace="true"></span>

                                            <label for="Addresses_${addressIndex}__State" class="control-label">State</label>
                                            <input id="Addresses_${addressIndex}__State" name="Addresses[${addressIndex}].State" class="form-control" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Addresses[${addressIndex}].State" data-valmsg-replace="true"></span>

                                            <label for="Addresses_${addressIndex}__PostalCode" class="control-label">Postal Code</label>
                                            <input id="Addresses_${addressIndex}__PostalCode" name="Addresses[${addressIndex}].PostalCode" class="form-control" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Addresses[${addressIndex}].PostalCode" data-valmsg-replace="true"></span>

                                            <button type="button" class="btn btn-secondary" onclick="updateAddress(${addressIndex}, ${addressIndex})">Update Address</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteAddress(${addressIndex})">Delete Address</button>
                                        </div>
                                    `;
            $('#addresses').append(newAddressHtml);
            addressIndex++;
        }

        function updateAddress(id, index) {
            var address = {
                Id: id,
                Street: $('#Addresses_' + index + '__Street').val(),
                City: $('#Addresses_' + index + '__City').val(),
                State: $('#Addresses_' + index + '__State').val(),
                PostalCode: $('#Addresses_' + index + '__PostalCode').val()
            };

            $.ajax({
                url: '@Url.Action("UpdateAddress", "Contacts")',
                type: 'POST',
                data: JSON.stringify({ addressId: id, addressViewModel: address }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        alert('Address updated successfully.');
                    } else {
                        alert('Failed to update address.');
                    }
                },
                error: function () {
                    alert('Error updating address.');
                }
            });
        }


        function deleteAddress(id) {
            if (confirm('Are you sure you want to delete this address?')) {
                $.ajax({
                    url: '@Url.Action("DeleteAddress", "Contacts")',
                    type: 'POST',
                    data: { addressId: id },
                    success: function (result) {
                        if (result.success) {
                            $('#address-' + id).remove();
                        } else {
                            alert('Failed to delete address.');
                        }
                    },
                    error: function () {
                        alert('Error deleting address.');
                    }
                });
            }
        }
    </script>
}
